@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Spoqa Han Sans,Spoqa Han Sans JP,Noto Sans Korean,sans-serif,arial,Microsoft JhengHei,'微軟正黑體';
  font-weight: 700; }

body {
  background-color: #546A7B; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

section {
  display: inline-block; }

.container {
  width: 85%;
  margin: 20% auto;
  border: 3px solid #393D3F;
  background-color: #FDFDFF; }

.header {
  background-color: #62929E;
  height: 4rem;
  border-bottom: 3px solid #393D3F; }
  .header .title {
    margin: 0 1.5rem;
    color: #FDFDFF;
    line-height: 4rem; }

.content {
  width: 90%;
  margin: 0 auto; }

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 3px solid #393D3F;
  padding: .5rem; }
  .input-form input, .input-form button {
    border: 3px solid #393D3F; }
  .input-form input {
    width: 65%;
    margin-left: .1rem; }

.listWarp {
  width: 95%;
  margin: 0 auto; }

.item, .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 2.5rem;
  margin-bottom: .8rem;
  border: 3px solid #393D3F; }
  .item .name, .total .name {
    margin-left: .2rem; }
  .item .warp, .total .warp {
    margin-right: .2rem; }
    .item .warp .del, .total .warp .del {
      padding: 5px 10px;
      background-color: transparent;
      border: none;
      font-size: 1.3rem; }

.total {
  padding: 0 .2rem 0 .2rem;
  background-color: #62929E;
  color: #FDFDFF; }
  .total .sum, .total .count {
    letter-spacing: 1px; }
  .total .count {
    margin-right: 2rem; }

@media (min-width: 720px) {
  .container {
    width: 35%;
    margin: 5% auto; } }
